language: python

python:
- '3.7'
- '3.8'
- '3.9'
- '3.10'

dist: focal
os: linux

jobs:
  fast_finish: true

before_install:
- python3 -m pip install coverage coveralls tox-travis pytest

install:
- python3 -m pip install -e .

script:
- tox
- python scripts/test_import.py
- coverage run --source=pyfronius --module pytest

after_success:
- coverage report
- coveralls

before_deploy:
- git config --local user.name "nielstron"
- export TRAVIS_TAG=release-$(cat setup.py | grep version= | cut -d "\"" -f 2)
- git tag $TRAVIS_TAG || echo "Tag already exists"

deploy:
  - provider: pypi
    on:
      branch: master
      python: '3.10'
    skip_existing: true
    username: "__token__"
    password:
      secure: GM8cWY9KL7LwB7wLoo7akHPHIyhCwTo3/ze9zo2PdZSYYv9zgzt5HGxOfg75HpQCkKumylhaRVtWTXbw97e0DVs8oIr0X6XcNCBB3v5/3bH/0q7lt3egvL/YXS+AZlztX0zXO3O9z41UQsXMvingAtCF+9/CHXICxRldMmOu7Q6GORwZjEWx1rwCSvAuiDvSCezTZbTbthzzD/qSLqIGYshk0B44q2nnCvJMAe0osxFYHOu1i640rG3MGo38rJt9hwtGyXngkA15Plx+0NceUCtLgb+xZuYvPXwqWvEecyNat2O6aJs65xI6QkYy+mDLk6+XKNXGueh6/fZPdoq4WopJT3W5JMkQIznElVuWXieKEp9RS/CQV62+50HdAZkGyxohci2nad2cHGJ/cMpPoGWGwHfe8J8lggI8eTOzj24CGRIkfj1BBfTg8iM9wX7ASRFhUvGPlAIYIoUl2urS8B5N5qfL7wh3RodTSsTJErMM+mgziet07AmKcYWLfSuWFp8Ku32g3lBjApVg9rpMESqcSNzFg8wnL9ErCpCe9dViNol3MBQUZYGpHkmhwJHdkYPn5N2IhHkb+fpUJJIw93DQa2NG+skoAqHKb+gFC9nmIfHaN/+Ts5UmZEIJiOxN8RQbOc4aztb29PUtblYsHWfnxyhLpH6EPAYVgWiPnTQ=

  - provider: releases
    api_key:
      secure: "pzEn3SyRq7O4WNOFlNsTsvnJf2rAxr8oUc6LS2JeBGDKkxs8cUgbBNZ+cWRJtrD2mm6IiUQ7STbcJbt5r2s/kf3Qq9oQK37HZZvlKjuU/YPdES0pQ2nWV2Bx0g9C1+5g8RtpP/WIhNnjJj9Evr+Zx80KUL2GSAyXUQCDwMRQoL6KIvq9bGt4DwzPy9caQKNVXNWn6RrIOoNgk/3I98MJ6B6Kj3k3aA1r3o2m5USSZ9k3j13NZaAkF6xLV9F4wpskYTPggnR3ALhU9AP4NIALMDDIOWkGtgbhQmfmYhtyWhceD/FenRJb65aJKMqrkx25qob6oGhnqxFcmbvJo1Hw9l1x4vZjKmVRvCHwJliUG6yaIXhfH2Ao9pUtzYABFTkQzPVnCNu5hmsuMbLQ/FMShSHT2/S5Iowox/030ei73IMvVpMdpkXKvzWk2KxYJn5jsYzVelrDimBtSBPyjJIL9OEoHuCyMeDEf2kT/Bx6CPQA4O6siBr1J20SUa5V+SEBMvhlVNckf9psxvWxaFPjb98IBq0lA7+pJ4oewmUb5jaeevepZyspoe8jnigqtMdPkZkwIcp/pZNLQgsMI+5yGIV1GCGTlMx6IJigSjJst8eznZ9e0/QSBvxtjw81Vxeg7gDFY1o2afCeOtlsCoUfoF5wsMcCp0vPTZyf2px0Paw="
    cleanup: true
    overwrite: false
    on:
      branch: master
      condition: $TRAVIS_EVENT_TYPE = push
