language: python

python:
#  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
dist: xenial
sudo: true

matrix:
  fast_finish: true

install:
  - pip install coverage
  - pip install coveralls
  - pip install aiohttp
  - pip install -e .

script:
  - coverage run --source=pyfronius setup.py test

after_success:
  - coverage report
  - coveralls
